# ------------------------------------------------------------------------------
# Environment Variables Template
#
# Copy this file to `.env` and update the values for your local environment.
#
# Example:
#   cp .env.example .env
#
# IMPORTANT
# - Never commit `.env` files to version control
# - `.env` should be listed in `.gitignore`
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# General Environment Variables
# ------------------------------------------------------------------------------
# These environment variables are general settings that are environment-agnostic.

# ENVIRONMENT INFORMATION
# -----------------------

# Environment Name (Only define if you will be leveraging the custom environment variables found below)
# NOTE: This value should be in all uppercase (e.g. PROD, DEV, STAGING, TRIAL, etc.)
PYDPLUS_ENV_NAME=


# ------------------------------------------------------------------------------
# Standard Environment Variables
# ------------------------------------------------------------------------------
# These environment variables are standard and used by default, and do not indicate a PROD or DEV environment.

# TENANT INFORMATION
# ------------------

# Tenant Name (e.g. example-company)
PYDPLUS_TENANT_NAME=

# Base URL (e.g. https://example-company.access.securid.com)
# NOTE: This is a deprecated variable kept only for backwards compatibility. Use the Administration Base URL instead.
PYDPLUS_BASE_URL=

# Administration Base URL (e.g. https://example-company.access.securid.com)
PYDPLUS_ADMIN_BASE_URL=

# Authentication Base URL (e.g. https://example-company.auth.securid.com)
PYDPLUS_AUTH_BASE_URL=


# GENERAL SETTINGS
# ----------------

# Strict Mode (Raises exceptions on failures when true)
# Options: true | false
PYDPLUS_STRICT_MODE=true

# Verify SSL (Verifies the SSL certificate during API calls)
# Options: true | false
PYDPLUS_VERIFY_SSL=true


# AUTHENTICATION / CONNECTION
# ---------------------------

# Connection Type
# Options: legacy | oauth
PYDPLUS_CONNECTION_TYPE=

# Access ID [Legacy API Connection]
PYDPLUS_LEGACY_ACCESS_ID=

# Path to Private Key (excluding file name) [Legacy API Connection]
PYDPLUS_LEGACY_KEY_PATH=

# Private Key File Name [Legacy API Connection]
PYDPLUS_LEGACY_KEY_FILE=

# Issuer URL (e.g. https://example-company.auth.securid.com/oauth) [OAuth Connection]
PYDPLUS_OAUTH_ISSUER_URL=

# Client ID [OAuth Connection]
PYDPLUS_OAUTH_CLIENT_ID=

# Grant Type (not needed unless changing from default) [OAuth Connection]
PYDPLUS_OAUTH_GRANT_TYPE="Client Credentials"

# Client Authentication (not needed unless changing from default) [OAuth Connection]
PYDPLUS_OAUTH_CLIENT_AUTH="Private Key JWT"


# ------------------------------------------------------------------------------
# Production (PROD) Environment Variables
# ------------------------------------------------------------------------------
# These environment variables are specific to a Production (PROD) environment.

# TENANT INFORMATION
# ------------------

# Tenant Name (e.g. example-company)
PYDPLUS_PROD_TENANT_NAME=

# Base URL (e.g. https://example-company.access.securid.com)
# NOTE: This is a deprecated variable kept only for backwards compatibility. Use the Administration Base URL instead.
PYDPLUS_PROD_BASE_URL=

# Administration Base URL (e.g. https://example-company.access.securid.com)
PYDPLUS_PROD_ADMIN_BASE_URL=

# Authentication Base URL (e.g. https://example-company.auth.securid.com)
PYDPLUS_PROD_AUTH_BASE_URL=


# GENERAL SETTINGS
# ----------------

# Strict Mode (Raises exceptions on failures when true)
# Options: true | false
PYDPLUS_PROD_STRICT_MODE=true

# Verify SSL (Verifies the SSL certificate during API calls)
# Options: true | false
PYDPLUS_PROD_VERIFY_SSL=true


# AUTHENTICATION / CONNECTION
# ---------------------------

# Connection Type
# Options: legacy | oauth
PYDPLUS_PROD_CONNECTION_TYPE=

# Access ID [Legacy API Connection]
PYDPLUS_PROD_LEGACY_ACCESS_ID=

# Path to Private Key (excluding file name) [Legacy API Connection]
PYDPLUS_PROD_LEGACY_KEY_PATH=

# Private Key File Name [Legacy API Connection]
PYDPLUS_PROD_LEGACY_KEY_FILE=

# Issuer URL (e.g. https://example-company.auth.securid.com/oauth) [OAuth Connection]
PYDPLUS_PROD_OAUTH_ISSUER_URL=

# Client ID [OAuth Connection]
PYDPLUS_PROD_OAUTH_CLIENT_ID=

# Grant Type (not needed unless changing from default) [OAuth Connection]
PYDPLUS_PROD_OAUTH_GRANT_TYPE="Client Credentials"

# Client Authentication (not needed unless changing from default) [OAuth Connection]
PYDPLUS_PROD_OAUTH_CLIENT_AUTH="Private Key JWT"


# ------------------------------------------------------------------------------
# Development (DEV) Environment Variables
# ------------------------------------------------------------------------------
# These environment variables are specific to a Development (DEV) environment.

# TENANT INFORMATION
# ------------------

# Tenant Name (e.g. example-company)
PYDPLUS_DEV_TENANT_NAME=

# Base URL (e.g. https://example-company.access.securid.com)
# NOTE: This is a deprecated variable kept only for backwards compatibility. Use the Administration Base URL instead.
PYDPLUS_DEV_BASE_URL=

# Administration Base URL (e.g. https://example-company.access.securid.com)
PYDPLUS_DEV_ADMIN_BASE_URL=

# Authentication Base URL (e.g. https://example-company.auth.securid.com)
PYDPLUS_DEV_AUTH_BASE_URL=


# GENERAL SETTINGS
# ----------------

# Strict Mode (Raises exceptions on failures when true)
# Options: true | false
PYDPLUS_DEV_STRICT_MODE=true

# Verify SSL (Verifies the SSL certificate during API calls)
# Options: true | false
PYDPLUS_DEV_VERIFY_SSL=true


# AUTHENTICATION / CONNECTION
# ---------------------------

# Connection Type
# Options: legacy | oauth
PYDPLUS_DEV_CONNECTION_TYPE=

# Access ID [Legacy API Connection]
PYDPLUS_DEV_LEGACY_ACCESS_ID=

# Path to Private Key (excluding file name) [Legacy API Connection]
PYDPLUS_DEV_LEGACY_KEY_PATH=

# Private Key File Name [Legacy API Connection]
PYDPLUS_DEV_LEGACY_KEY_FILE=

# Issuer URL (e.g. https://example-company-dev.auth.securid.com/oauth) [OAuth Connection]
PYDPLUS_DEV_OAUTH_ISSUER_URL=

# Client ID [OAuth Connection]
PYDPLUS_DEV_OAUTH_CLIENT_ID=

# Grant Type (not needed unless changing from default) [OAuth Connection]
PYDPLUS_DEV_OAUTH_GRANT_TYPE="Client Credentials"

# Client Authentication (not needed unless changing from default) [OAuth Connection]
PYDPLUS_DEV_OAUTH_CLIENT_AUTH="Private Key JWT"


# ------------------------------------------------------------------------------
# Custom Environment Variables
# ------------------------------------------------------------------------------
# These environment variables are specific to a custom environment defined by the ENV_NAME variable.
# NOTE: Replace CUSTOM in the environment variables below to match the ENV_NAME variable. (e.g. STAGING, TRIAL, etc.)

# TENANT INFORMATION
# ------------------

# Tenant Name (e.g. example-company)
PYDPLUS_CUSTOM_TENANT_NAME=

# Base URL (e.g. https://example-company.access.securid.com)
# NOTE: This is a deprecated variable kept only for backwards compatibility. Use the Administration Base URL instead.
PYDPLUS_CUSTOM_BASE_URL=

# Administration Base URL (e.g. https://example-company.access.securid.com)
PYDPLUS_CUSTOM_ADMIN_BASE_URL=

# Authentication Base URL (e.g. https://example-company.auth.securid.com)
PYDPLUS_CUSTOM_AUTH_BASE_URL=


# GENERAL SETTINGS
# ----------------

# Strict Mode (Raises exceptions on failures when true)
# Options: true | false
PYDPLUS_CUSTOM_STRICT_MODE=true

# Verify SSL (Verifies the SSL certificate during API calls)
# Options: true | false
PYDPLUS_CUSTOM_VERIFY_SSL=true


# AUTHENTICATION / CONNECTION
# ---------------------------

# Connection Type
# Options: legacy | oauth
PYDPLUS_CUSTOM_CONNECTION_TYPE=

# Access ID [Legacy API Connection]
PYDPLUS_CUSTOM_LEGACY_ACCESS_ID=

# Path to Private Key (excluding file name) [Legacy API Connection]
PYDPLUS_CUSTOM_LEGACY_KEY_PATH=

# Private Key File Name [Legacy API Connection]
PYDPLUS_CUSTOM_LEGACY_KEY_FILE=

# Issuer URL (e.g. https://example-company.auth.securid.com/oauth) [OAuth Connection]
PYDPLUS_CUSTOM_OAUTH_ISSUER_URL=

# Client ID [OAuth Connection]
PYDPLUS_CUSTOM_OAUTH_CLIENT_ID=

# Grant Type (not needed unless changing from default) [OAuth Connection]
PYDPLUS_CUSTOM_OAUTH_GRANT_TYPE="Client Credentials"

# Client Authentication (not needed unless changing from default) [OAuth Connection]
PYDPLUS_CUSTOM_OAUTH_CLIENT_AUTH="Private Key JWT"
